In [19]:
#Importar librerias
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA
from datetime import datetime
from sklearn.impute import SimpleImputer
import numpy as np

In [2]:
# Paso 2: Leer el archivo CSV
EmpleadosAttrition = pd.read_csv('empleadosRETO.csv', delimiter=';')
EmpleadosAttrition

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,...,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition
0,50,Travel_Rarely,Research & Development,1 km,2,Medical,1,997,4,Male,...,22,4,3,80,32,1,2,4,1,No
1,36,Travel_Rarely,Research & Development,6 km,2,Medical,1,178,2,Male,...,20,4,4,80,7,0,3,2,0,No
2,21,Travel_Rarely,Sales,7 km,1,Marketing,1,1780,2,Male,...,13,3,2,80,1,3,3,0,1,Yes
3,52,Travel_Rarely,Research & Development,7 km,4,Life Sciences,1,1118,2,Male,...,19,3,4,80,18,4,3,6,4,No
4,33,Travel_Rarely,Research & Development,15 km,1,Medical,1,582,2,Male,...,12,3,4,80,15,2,4,6,7,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,33,Travel_Rarely,Research & Development,14 km,3,Medical,1,325,3,Male,...,13,3,3,80,8,2,1,4,0,Yes
396,31,Travel_Rarely,Sales,20 km,3,Life Sciences,1,175,2,Female,...,11,3,3,80,4,2,3,2,2,Yes
397,37,Travel_Frequently,Research & Development,11 km,3,Other,1,306,2,Male,...,14,3,3,80,10,1,3,8,0,No
398,38,Travel_Rarely,Research & Development,4 km,2,Medical,1,1687,4,Female,...,19,3,4,80,7,5,2,0,0,No
399,33,Travel_Rarely,Research & Development,14 km,3,Medical,1,252,4,Female,...,13,3,4,80,8,5,3,7,1,No

In [3]:
# Paso 3: Eliminar columnas irrelevantes
columnas_a_eliminar = ['EmployeeCount', 'EmployeeNumber', 'Over18', 'StandardHours']

# Elimina las columnas
EmpleadosAttrition = EmpleadosAttrition.drop(columnas_a_eliminar, axis=1)

# Muestra el DataFrame resultante
print(EmpleadosAttrition)

     Age     BusinessTravel              Department DistanceFromHome  \
0     50      Travel_Rarely  Research & Development             1 km
1     36      Travel_Rarely  Research & Development             6 km
2     21      Travel_Rarely                   Sales             7 km
3     52      Travel_Rarely  Research & Development             7 km
4     33      Travel_Rarely  Research & Development            15 km
..   ...                ...                     ...              ...
395   33      Travel_Rarely  Research & Development            14 km
396   31      Travel_Rarely                   Sales            20 km
397   37  Travel_Frequently  Research & Development            11 km
398   38      Travel_Rarely  Research & Development             4 km
399   33      Travel_Rarely  Research & Development            14 km

     Education EducationField  EnvironmentSatisfaction  Gender  \
0            2        Medical                        4    Male
1            2        Medical                        2    Male
2            1      Marketing                        2    Male
3            4  Life Sciences                        2    Male
4            1        Medical                        2    Male
..         ...            ...                      ...     ...
395          3        Medical                        3    Male
396          3  Life Sciences                        2  Female
397          3          Other                        2    Male
398          2        Medical                        4  Female
399          3        Medical                        4  Female

     JobInvolvement  JobLevel  ... OverTime  PercentSalaryHike  \
0                 3         4  ...       No                 22
1                 3         2  ...       No                 20
2                 3         1  ...       No                 13
3                 3         3  ...       No                 19
4                 3         3  ...      Yes                 12
..              ...       ...  ...      ...                ...
395               3         1  ...      Yes                 13
396               1         2  ...      Yes                 11
397               3         3  ...      Yes                 14
398               3         1  ...       No                 19
399               3         1  ...       No                 13

    PerformanceRating  RelationshipSatisfaction  TotalWorkingYears  \
0                   4                         3                 32
1                   4                         4                  7
2                   3                         2                  1
3                   3                         4                 18
4                   3                         4                 15
..                ...                       ...                ...
395                 3                         3                  8
396                 3                         3                  4
397                 3                         3                 10
398                 3                         4                  7
399                 3                         4                  8

    TrainingTimesLastYear WorkLifeBalance  YearsInCurrentRole  \
0                       1               2                   4
1                       0               3                   2
2                       3               3                   0
3                       4               3                   6
4                       2               4                   6
..                    ...             ...                 ...
395                     2               1                   4
396                     2               3                   2
397                     1               3                   8
398                     5               2                   0
399                     5               3                   7

     YearsSinceLastPromotion  Attrition
0                          1         No
1                          0         No
2                          1        Yes
3                          4         No
4                          7        Yes
..                       ...        ...
395                        0        Yes
396                        2        Yes
397                        0         No
398                        0         No
399                        1         No

[400 rows x 26 columns]

In [4]:
#
# Convierte 'HiringDate' a formato de fecha
EmpleadosAttrition['HiringDate'] = pd.to_datetime(EmpleadosAttrition['HiringDate'], errors='coerce')

# Paso 5: Crea la columna 'Year' con el año de contratación
EmpleadosAttrition['Year'] = EmpleadosAttrition['HiringDate'].dt.year.astype('Int64')  # Convierte a entero

#Paso 6: Calcula los años que el empleado lleva en la compañía hasta el año 2018
fecha_actual = datetime(2018, 1, 1)  # Fecha actual considerada para el cálculo
EmpleadosAttrition['YearsAtCompany'] = (fecha_actual - EmpleadosAttrition['HiringDate']).dt.days // 365

# Muestra el DataFrame resultante
print(EmpleadosAttrition[[ 'HiringDate', 'Year', 'YearsAtCompany']])

    HiringDate  Year  YearsAtCompany
0   2013-06-06  2013             4.0
1   2015-12-25  2015             2.0
2   2017-02-14  2017             0.0
3   2010-07-29  2010             7.0
4   2011-10-07  2011             6.0
..         ...   ...             ...
395 2013-05-09  2013             4.0
396 2016-04-02  2016             1.0
397 2008-01-21  2008             9.0
398 2018-08-27  2018            -1.0
399 2010-02-08  2010             7.0

[400 rows x 3 columns]

In [6]:
# Paso 8:Renombra la variable 'DistanceFromHome' a 'DistanceFromHome_km'
EmpleadosAttrition.rename(columns={'DistanceFromHome': 'DistanceFromHome_km'}, inplace=True)

# Paso 7 y 9:Elimina las letras "km" y convierte la columna a tipo numérico
EmpleadosAttrition['DistanceFromHome'] = EmpleadosAttrition['DistanceFromHome'].astype(str).str.rstrip('km')
EmpleadosAttrition['DistanceFromHome'] = pd.to_numeric(EmpleadosAttrition['DistanceFromHome'], errors='coerce')

# Muestra el DataFrame resultante
print(EmpleadosAttrition[['DistanceFromHome_km', 'DistanceFromHome']])

    DistanceFromHome_km  DistanceFromHome
0                  1 km                 1
1                  6 km                 6
2                  7 km                 7
3                  7 km                 7
4                 15 km                15
..                  ...               ...
395               14 km                14
396               20 km                20
397               11 km                11
398                4 km                 4
399               14 km                14

[400 rows x 2 columns]

In [7]:
# Paso 10:Borra las columnas especificadas
EmpleadosAttrition = EmpleadosAttrition.drop(['Year', 'HiringDate', 'DistanceFromHome_km'], axis=1)

# Muestra el DataFrame resultante
print(EmpleadosAttrition.head())

   Age BusinessTravel              Department  Education EducationField  \
0   50  Travel_Rarely  Research & Development          2        Medical
1   36  Travel_Rarely  Research & Development          2        Medical
2   21  Travel_Rarely                   Sales          1      Marketing
3   52  Travel_Rarely  Research & Development          4  Life Sciences
4   33  Travel_Rarely  Research & Development          1        Medical

   EnvironmentSatisfaction Gender  JobInvolvement  JobLevel  \
0                        4   Male               3         4
1                        2   Male               3         2
2                        2   Male               3         1
3                        2   Male               3         3
4                        2   Male               3         3

                     JobRole  ...  PerformanceRating RelationshipSatisfaction  \
0          Research Director  ...                  4                        3
1     Manufacturing Director  ...                  4                        4
2       Sales Representative  ...                  3                        2
3  Healthcare Representative  ...                  3                        4
4                    Manager  ...                  3                        4

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  \
0                 32                      1               2
1                  7                      0               3
2                  1                      3               3
3                 18                      4               3
4                 15                      2               4

   YearsInCurrentRole  YearsSinceLastPromotion  Attrition  YearsAtCompany  \
0                   4                        1         No             4.0
1                   2                        0         No             2.0
2                   0                        1        Yes             0.0
3                   6                        4         No             7.0
4                   6                        7        Yes             6.0

   DistanceFromHome
0                 1
1                 6
2                 7
3                 7
4                15

[5 rows x 26 columns]

In [8]:
# Paso 11: Genera el DataFrame con el sueldo promedio por departamento
SueldoPromedioDepto = EmpleadosAttrition.groupby('Department')['MonthlyIncome'].mean().reset_index()

# Asigna el resultado a la variable SueldoPromedio
SueldoPromedio = SueldoPromedioDepto.copy()

# Muestra el DataFrame resultante
print(SueldoPromedioDepto)

               Department  MonthlyIncome
0         Human Resources    6239.888889
1  Research & Development    6804.149813
2                   Sales    7188.250000

In [9]:
# Paso 12: Escala la variable MonthlyIncome entre 0 y 1
scaler = MinMaxScaler()
EmpleadosAttrition['MonthlyIncome_scaled'] = scaler.fit_transform(EmpleadosAttrition[['MonthlyIncome']])

# Muestra el DataFrame resultante con la nueva columna escalada
print(EmpleadosAttrition[['MonthlyIncome', 'MonthlyIncome_scaled']])

     MonthlyIncome  MonthlyIncome_scaled
0            17399              0.864269
1             4941              0.207340
2             2679              0.088062
3            10445              0.497574
4            13610              0.664470
..             ...                   ...
395           2436              0.075248
396           4559              0.187197
397          12185              0.589327
398           3306              0.121124
399           2756              0.092122

[400 rows x 2 columns]

In [10]:
# Paso 13: Convierte variables categóricas a numéricas usando one-hot encoding
EmpleadosAttrition = pd.get_dummies(EmpleadosAttrition, columns=['BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'Attrition'])

# Muestra el DataFrame resultante con las nuevas columnas numéricas
print(EmpleadosAttrition.head())

   Age  Education  EnvironmentSatisfaction  JobInvolvement  JobLevel  \
0   50          2                        4               3         4
1   36          2                        2               3         2
2   21          1                        2               3         1
3   52          4                        2               3         3
4   33          1                        2               3         3

   JobSatisfaction  MonthlyIncome  NumCompaniesWorked OverTime  \
0                4          17399                   9       No
1                2           4941                   6       No
2                2           2679                   1       No
3                2          10445                   7       No
4                3          13610                   7      Yes

   PercentSalaryHike  ...  JobRole_Manufacturing Director  \
0                 22  ...                               0
1                 20  ...                               1
2                 13  ...                               0
3                 19  ...                               0
4                 12  ...                               0

   JobRole_Research Director  JobRole_Research Scientist  \
0                          1                           0
1                          0                           0
2                          0                           0
3                          0                           0
4                          0                           0

   JobRole_Sales Executive  JobRole_Sales Representative  \
0                        0                             0
1                        0                             0
2                        0                             1
3                        0                             0
4                        0                             0

   MaritalStatus_Divorced  MaritalStatus_Married  MaritalStatus_Single  \
0                       1                      0                     0
1                       1                      0                     0
2                       0                      0                     1
3                       0                      0                     1
4                       0                      1                     0

   Attrition_No  Attrition_Yes
0             1              0
1             1              0
2             0              1
3             1              0
4             0              1

[5 rows x 48 columns]

In [11]:
# Paso 14: Calcula la correlación lineal de cada variable con respecto a 'Attrition'
correlation_matrix = EmpleadosAttrition.corr()
correlation_with_attrition = correlation_matrix['Attrition_Yes']  # Ajusta el nombre según la columna de Attrition en tu DataFrame

# Muestra las correlaciones
print(correlation_with_attrition)

Age                                 -0.212121
Education                           -0.055531
EnvironmentSatisfaction             -0.124327
JobInvolvement                      -0.166785
JobLevel                            -0.214266
JobSatisfaction                     -0.164957
MonthlyIncome                       -0.194936
NumCompaniesWorked                  -0.009082
PercentSalaryHike                   -0.060880
PerformanceRating                   -0.006471
RelationshipSatisfaction            -0.030945
TotalWorkingYears                   -0.213329
TrainingTimesLastYear               -0.070884
WorkLifeBalance                     -0.021723
YearsInCurrentRole                  -0.203918
YearsSinceLastPromotion             -0.069000
YearsAtCompany                      -0.176836
DistanceFromHome                     0.052732
MonthlyIncome_scaled                -0.194936
BusinessTravel_Non-Travel           -0.100698
BusinessTravel_Travel_Frequently     0.035387
BusinessTravel_Travel_Rarely         0.042755
Department_Human Resources           0.023389
Department_Research & Development   -0.072269
Department_Sales                     0.066116
EducationField_Human Resources       0.043404
EducationField_Life Sciences        -0.027457
EducationField_Marketing             0.016768
EducationField_Medical              -0.054144
EducationField_Other                -0.004275
EducationField_Technical Degree      0.129104
Gender_Female                        0.028839
Gender_Male                         -0.028839
JobRole_Healthcare Representative   -0.103274
JobRole_Human Resources              0.032714
JobRole_Laboratory Technician        0.125264
JobRole_Manager                     -0.089885
JobRole_Manufacturing Director      -0.042404
JobRole_Research Director           -0.116263
JobRole_Research Scientist           0.007977
JobRole_Sales Executive             -0.003115
JobRole_Sales Representative         0.191294
MaritalStatus_Divorced              -0.107869
MaritalStatus_Married               -0.094734
MaritalStatus_Single                 0.205849
Attrition_No                        -1.000000
Attrition_Yes                        1.000000
Name: Attrition_Yes, dtype: float64

In [12]:
# Paso 15: Selecciona variables con correlación mayor o igual a 0.1
threshold = 0.1
selected_variables = correlation_with_attrition[correlation_with_attrition.abs() >= threshold].index

# Añade la variable de salida 'Attrition_Yes' a las variables seleccionadas
selected_variables = selected_variables.union(['Attrition_Yes'])

# Crea un nuevo DataFrame con las variables seleccionadas
EmpleadosAttritionFinal = EmpleadosAttrition[selected_variables]

In [17]:
#Paso 16
# Llena los valores nulos con la media de cada columna
imputer = SimpleImputer(strategy='mean')
X_filled = imputer.fit_transform(X)

# Aplica PCA
num_components = len(X.columns)  # Puedes ajustar el número de componentes según tus necesidades
pca = PCA(n_components=num_components)
EmpleadosAttritionPCA = pca.fit_transform(X_filled)

# Crea un DataFrame con los componentes principales
columns_pca = [f'C{i}' for i in range(num_components)]
EmpleadosAttritionPCA = pd.DataFrame(data=EmpleadosAttritionPCA, columns=columns_pca)

# Visualiza el DataFrame EmpleadosAttritionPCA
print(EmpleadosAttritionPCA.head())

             C0         C1        C2        C3        C4        C5        C6  \
0  10488.493620   5.866456 -6.589032  8.611667 -1.867715 -0.650297 -1.994897
1  -1969.533474  -1.966586 -4.119054 -0.615146  0.192927  0.250144  0.862506
2  -4231.551549 -15.395307 -3.265612  2.043579  0.963654  0.265336  0.920967
3   3534.489566  10.661346 -2.910732 -2.273983 -1.011198  0.362118  0.921779
4   6699.466520 -11.785875 -2.760417  1.191624 -1.761167 -0.484680  0.409130

         C7        C8        C9       C10       C11       C12       C13  \
0 -0.441743  0.712145  0.574215  0.427287 -0.342687 -0.419735  0.016649
1 -0.328026  0.778611 -0.364575  0.397812 -0.044420  0.001793 -0.121442
2 -0.267152 -0.756063  0.024362  0.305516 -0.587012 -0.164226 -0.129495
3 -0.236699 -0.692942 -0.427929  0.321897  0.192002  0.068638  0.773532
4 -0.360847 -0.051069  0.565992 -0.306427 -0.763674  0.071855  0.088702

        C14       C15       C16       C17           C18
0 -0.006951  0.326141  0.321197 -0.035994 -4.706858e-16
1 -0.274121 -0.087925 -0.020275 -0.065894 -2.340058e-16
2  0.199301  0.185313 -0.096174  0.543912 -2.808815e-16
3  0.226967  0.009520 -0.085413  0.058670  2.529206e-17
4  0.394482 -0.469345 -0.111909  0.014680  1.925532e-16

In [20]:
# Paso 17: Selecciona el número mínimo de Componentes Principales para explicar el 80% de la varianza
variance_ratio_cumsum = np.cumsum(pca.explained_variance_ratio_)
num_components_80 = np.argmax(variance_ratio_cumsum >= 0.8) + 1

# Selecciona las primeras num_components_80 columnas de EmpleadosAttritionPCA
EmpleadosAttritionPCA_selected = EmpleadosAttritionPCA.iloc[:, :num_components_80]

# Visualiza las columnas seleccionadas
print(EmpleadosAttritionPCA_selected.head())

# Paso 18: Agrega las columnas seleccionadas al DataFrame final
EmpleadosAttritionFinal = EmpleadosAttritionFinal.assign(**{f'C{i}': EmpleadosAttritionPCA_selected.iloc[:, i] for i in range(num_components_80)})

# Visualiza el DataFrame final
print(EmpleadosAttritionFinal.head())

             C0
0  10488.493620
1  -1969.533474
2  -4231.551549
3   3534.489566
4   6699.466520
   Age  Attrition_No  Attrition_Yes  BusinessTravel_Non-Travel  \
0   50             1              0                          0
1   36             1              0                          0
2   21             0              1                          0
3   52             1              0                          0
4   33             0              1                          0

   EducationField_Technical Degree  EnvironmentSatisfaction  JobInvolvement  \
0                                0                        4               3
1                                0                        2               3
2                                0                        2               3
3                                0                        2               3
4                                0                        2               3

   JobLevel  JobRole_Healthcare Representative  JobRole_Laboratory Technician  \
0         4                                  0                              0
1         2                                  0                              0
2         1                                  0                              0
3         3                                  1                              0
4         3                                  0                              0

   ...  JobRole_Sales Representative  JobSatisfaction  MaritalStatus_Divorced  \
0  ...                             0                4                       1
1  ...                             0                2                       1
2  ...                             1                2                       0
3  ...                             0                2                       0
4  ...                             0                3                       0

   MaritalStatus_Single  MonthlyIncome  MonthlyIncome_scaled  \
0                     0          17399              0.864269
1                     0           4941              0.207340
2                     1           2679              0.088062
3                     1          10445              0.497574
4                     0          13610              0.664470

   TotalWorkingYears  YearsAtCompany  YearsInCurrentRole            C0
0                 32             4.0                   4  10488.493620
1                  7             2.0                   2  -1969.533474
2                  1             0.0                   0  -4231.551549
3                 18             7.0                   6   3534.489566
4                 15             6.0                   6   6699.466520

[5 rows x 21 columns]

In [21]:
#Paso 18
EmpleadosAttritionFinal.to_csv('EmpleadosAttritionFinal.csv', index=False)